@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  /* Scroll thumb styles */
  *::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
  }

  *::-webkit-scrollbar-thumb {
    background: theme(colors.neutral-700);
    border-radius: 1rem;
  }

  *::-webkit-scrollbar-thumb:active {
    background-color: theme('colors.yellow.500');
  }

  *::-webkit-scrollbar-thumb:hover {
    background: theme('colors.yellow.500');
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }
}

#components-reconnect-modal,
#components-reconnect-modal.components-reconnect-show,
#components-reconnect-modal.components-reconnect-failed,
#components-reconnect-modal.components-reconnect-rejected {
  display: none !important;
}

img.lazy {
  filter: blur(4px);
}
img.initial,
img.loaded,
img.error {
  animation: image-fade-in 1s forwards;
}
@keyframes image-fade-in {
  from {
      opacity: 0;
      filter: blur(4px);
  }
  to {
      opacity: 1;
      filter: blur(0px);
  }
}
