@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  /* Scroll thumb styles */
  *::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
  }

  *::-webkit-scrollbar-thumb {
    background: theme(colors.neutral-700);
    border-radius: 1rem;
  }

  *::-webkit-scrollbar-thumb:active {
    background-color: theme('colors.yellow.500');
  }

  *::-webkit-scrollbar-thumb:hover {
    background: theme('colors.yellow.500');
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }
}